#info span.shadow_blue,
#info span.shadow_green,
#info span.shadow_red,
#info span.shadow_yellow {
	font: normal 12px/1.2 Courier, 'Courier New', monospace;
	letter-spacing: 0.25em;
}

.info_year {
	font: normal 12px/1.2 Courier, 'Courier New', monospace;
}

.news_arial_12_230 {
	font: normal 12px Arial, Helvetica, sans-serif;
	letter-spacing: 0.23em;
}

.news_arial_16_140 {
	font: normal 16px Arial, Helvetica, sans-serif;
	letter-spacing: 0.14em;
}

.news_arial_22_70 {
	font: normal 22px Arial, Helvetica, sans-serif;
	letter-spacing: 0.07em;
}

.news_arial_22_140 {
	font: normal 22px Arial, Helvetica, sans-serif;
	letter-spacing: 0.14em;
}

.news_courier_bold_blue {
	font: bold 27px Courier, 'Courier New', monospace;
	letter-spacing: 0.2em;
	text-shadow: 0 0 0.05em rgb(0,0,255);
	text-transform: uppercase;
}

.news_courier_bold_red {
	font: bold 24px Courier, 'Courier New', monospace;
	letter-spacing: 0.15em;
	text-shadow: 0 0 0.05em rgb(249,8,1);
}

.news_courier_bold_yellow {
	font: bold 27px Courier, 'Courier New', monospace;
	letter-spacing: 0.15em;
	text-shadow: 0 0 0.05em rgb(255,237,0);
}

.news_courier_reg_blue {
	font: normal 19px Courier, 'Courier New', monospace;
	letter-spacing: 0.17em;
	text-shadow: 0 0 0.05em rgb(0,0,255);
}

.shadow_blue {
	text-shadow: 0 0 0.05em rgb(0,0,255);
}

.shadow_green {
	text-shadow: 0 0 0.05em rgb(0,225,0);
}

.shadow_red {
	text-shadow: 0 0 0.05em rgb(249,8,1);
}

.shadow_yellow {
	text-shadow: 0 0 0.05em rgb(255,237,0);
}
