#info .shadow-blue,
#info .shadow-green,
#info .shadow-red,
#info .shadow-yellow {
	font: normal 12px/1.2 Courier, 'Courier New', monospace;
	letter-spacing: 0.25em;
}

.info-year {
	font: normal 12px/1.2 Courier, 'Courier New', monospace;
}

.news-arial-12-230 {
	font: normal 12px Arial, Helvetica, sans-serif;
	letter-spacing: 0.23em;
}

.news-arial-16-140 {
	font: normal 16px Arial, Helvetica, sans-serif;
	letter-spacing: 0.14em;
}

.news-arial-22-70 {
	font: normal 22px Arial, Helvetica, sans-serif;
	letter-spacing: 0.07em;
}

.news-arial-22-140 {
	font: normal 22px Arial, Helvetica, sans-serif;
	letter-spacing: 0.14em;
}

.news-courier-bold-blue {
	font: bold 27px Courier, 'Courier New', monospace;
	letter-spacing: 0.2em;
	text-shadow: 0 0 0.1em #0000FF;
	text-transform: uppercase;
}

.news-courier-bold-red {
	font: bold 24px Courier, 'Courier New', monospace;
	letter-spacing: 0.15em;
	text-shadow: 0 0 0.1em #F90801;
}

.news-courier-bold-yellow {
	font: bold 27px Courier, 'Courier New', monospace;
	letter-spacing: 0.15em;
	text-shadow: 0 0 0.1em #FFED00;
}

.news-courier-reg-blue {
	font: normal 19px Courier, 'Courier New', monospace;
	letter-spacing: 0.17em;
	text-shadow: 0 0 0.1em #0000FF;
}

.shadow-blue {
	text-shadow: 0 0 0.1em #0000FF;
}

.shadow-green {
	text-shadow: 0 0 0.1em #00E100;
}

.shadow-red {
	text-shadow: 0 0 0.1em #F90801;
}

.shadow-yellow {
	text-shadow: 0 0 0.1em #FFED00;
}
